* text=auto !eol
action/editer_url.php -text
action/supprimer_url.php -text
action/urls_actualiser.php -text
action/urls_liberer.php -text
action/urls_verrouiller.php -text
base/urls.php -text
formulaires/configurer_urls.html -text
formulaires/configurer_urls.php -text
formulaires/configurer_urls_arbo.html -text
formulaires/configurer_urls_arbo_fonctions.php -text
formulaires/configurer_urls_propres.html -text
formulaires/configurer_urls_propres_fonctions.php -text
formulaires/editer_url_objet.html -text
formulaires/editer_url_objet.php -text
/htaccess.txt -text
lang/paquet-urls.xml -text
lang/paquet-urls_ar.php -text
lang/paquet-urls_de.php -text
lang/paquet-urls_en.php -text
lang/paquet-urls_es.php -text
lang/paquet-urls_fa.php -text
lang/paquet-urls_fr_fem.php -text
lang/paquet-urls_fr_tu.php -text
lang/paquet-urls_it.php -text
lang/paquet-urls_nl.php -text
lang/paquet-urls_oc_ni_mis.php -text
lang/paquet-urls_pt_br.php -text
lang/paquet-urls_ru.php -text
lang/paquet-urls_sk.php -text
lang/urls.xml -text
lang/urls_ar.php -text
lang/urls_ast.php -text
lang/urls_br.php -text
lang/urls_ca.php -text
lang/urls_co.php -text
lang/urls_cs.php -text
lang/urls_de.php -text
lang/urls_en.php -text
lang/urls_eo.php -text
lang/urls_es.php -text
lang/urls_fa.php -text
lang/urls_fr.php -text
lang/urls_fr_fem.php -text
lang/urls_fr_tu.php -text
lang/urls_gl.php -text
lang/urls_it.php -text
lang/urls_it_fem.php -text
lang/urls_lb.php -text
lang/urls_nl.php -text
lang/urls_oc_ni_mis.php -text
lang/urls_pt.php -text
lang/urls_pt_br.php -text
lang/urls_ro.php -text
lang/urls_ru.php -text
lang/urls_sk.php -text
lang/urls_tr.php -text
lang/urls_uk.php -text
prive/objets/editer/url.html -text
prive/objets/liste/urls.html -text
prive/squelettes/contenu/configurer_urls.html -text
prive/squelettes/contenu/configurer_urls_fonctions.php -text
prive/squelettes/contenu/controler_urls.html -text
prive/squelettes/navigation/controler_urls.html -text
prive/style_prive_plugin_urls.html -text
prive/themes/spip/images/url-16.png -text
prive/themes/spip/images/url-24.png -text
prive/themes/spip/images/url-32.png -text
prive/themes/spip/images/url-add-16.png -text
prive/themes/spip/images/url-add-24.png -text
prive/themes/spip/images/url-add-32.png -text
prive/themes/spip/images/url-del-16.png -text
prive/themes/spip/images/url-del-24.png -text
prive/themes/spip/images/url-del-32.png -text
prive/themes/spip/images/url-edit-16.png -text
prive/themes/spip/images/url-edit-24.png -text
prive/themes/spip/images/url-edit-32.png -text
prive/themes/spip/images/url-new-16.png -text
prive/themes/spip/images/url-new-24.png -text
prive/themes/spip/images/url-new-32.png -text
urls/arbo.php -text
urls/html.php -text
urls/index.php -text
urls/libres.php -text
urls/propres.php -text
urls/propres2.php -text
urls/propres_qs.php -text
urls/simple.php -text
/urls_administrations.php -text
/urls_ieconfig.php -text
/urls_pipeline.php -text
